<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <string>NO</string>
	<key>CLIENT_ID</key>
	<string>695803736078-g8ct7v155j7vlqnsqhff06vjnd67i8m6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695803736078-g8ct7v155j7vlqnsqhff06vjnd67i8m6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>695803736078-0cmrnvfes5cu4obpmvhn5dbd97l9ui8g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfB3B67bK9B-AgVfXAO3QB-pcgi4nfoOU</string>
	<key>GCM_SENDER_ID</key>
	<string>695803736078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tincohr.groupware</string>
	<key>PROJECT_ID</key>
	<string>groupware-app</string>
	<key>STORAGE_BUCKET</key>
	<string>groupware-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695803736078:ios:b66593b80a25789f664c5f</string>
</dict>
</plist>